
body
{
  font-family: 'Courier New', monospace;
  color: #abb3b4;
  background:#1d2329;
	margin-left: 200px;
	margin-right: 200px;
}

header, footer
{
  margin-top: 50px;
	margin-bottom: 50px;
  font-family: 'Trebuchet MS', sans-serif;
	text-align: center;
  color: #06edfd;
  background:#1d2329
}
.image1
{
  width: 200px;
}

.image_border {
  border-color: black;
  border-width: 10px;
  border-style: solid;
  border-radius: 50%;
}

a {
	text-decoration: none;
	color: #0679fd;
	font-weight: bold;
}

a:hover {
	text-decoration: none;
	color: #06edfd;
}

table, th, td 
{
  border: 2px black;
  margin: 1em;
  text-align: center;
  color: #1d2329;
}
th
{
  background-color: #06edfd;
}

tr
{
  background-color: #06edfd;
}
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}


/**calculator*/

.calculatorbuttons{

  box-shadow:inset 0px 1px 0px 0px #efdcfb;
  background-color:#dfbdfa;
  border-radius:6px;
  border:1px solid #c584f3;
  display:inline-block;
  cursor:pointer;
  color:#ffffff;
  font-family: 'Courier New', monospace;
  font-size:28px;
  font-weight:bold;
  padding:6px 24px;
  text-decoration:none;
  text-shadow:0px 1px 0px #e33282;
}
.myButton:hover {
  background-color:#bc80ea;
}
.myButton:active {
  position:relative;
  top:1px;

}

.container {
max-width: 50em;
margin-left: auto;
margin-right: auto;

}

.calculator {
border-radius: 12px;
box-shadow: 0 0 40px 0px rgba(0, 0, 0, 0.15);
margin-left: auto;
margin-right: auto;
margin-top: 2em;
max-width: 50em;
overflow: hidden;
}

.calculator__display {
background-color: grey;
color: #fff;
font-size: 5em;
padding: 0.5em 0.75em;
text-align: right;
}

.calculator__keys {
background-color: #0679fd;
display: grid;
grid-gap: 1px;
grid-template-columns: repeat(4, 1fr);
font-size: 1.75em;
}

.calculator__keys > * {
font-size: 1.75em;
background-color: #06edfd;
padding: 0.5em 1.25em;
position: relative;
text-align: center;
font-family: 'Courier New', monospace;
font-weight: bold;
}

.calculator__keys > *:active::before,
.calculator__keys > .is-depressed::before {
background-color: rgba(0, 0, 0, 0.2);
bottom: 0;
box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.5) inset;
content: "";
left: 0;
opacity: 0.3;
position: absolute;
right: 0;
top: 0;
z-index: 1;
}

.key--operator {
background-color: #0679fd;
color: #fd4006;
}

.key--equal {
background-image: linear-gradient(to bottom, #0679fd, #0679fd);
grid-column: -2;
grid-row: 2 / span 4;
color: #fdc306;
}

/** end of calculator */