
body
{
  font-family: Tahoma, sans-serif;
  color: rgba(12, 94, 97, 0.705);
  background-color: #353130;
}

header
{
  font-family: Courier, serif;
  text-align: center;
  color: orange;  
}
.image
{
  width: 100px;
}
